body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('images/Background.png'); /* Añade la ruta de tu imagen de fondo */
    background-size: cover; /* Asegura que la imagen cubra toda la pantalla */
    background-position: center; /* Centra la imagen de fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Hace que el fondo se quede fijo al hacer scroll */
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
}

#logo-web {
    width: 200px; /* Ajusta el tamaño del logo según sea necesario */
    height: auto; /* Mantiene la proporción del logo */
    display: block;
    margin: 0 auto; /* Centra el logo horizontalmente */
}

/* CSS: Estilos para el contenedor de ingredientes seleccionados */
#selected-ingredients-container {
    background-color: #007D51; /* Color fondo cuadro ingredientes */
    padding: 20px; /* Espacio interno para separar el contenido del borde */
    margin-top: 20px; /* Espacio superior para separar del resto del contenido */
    border-radius: 8px; /* Esquinas redondeadas opcional */
    border: 1px solid #00F896; /* Borde opcional para destacar */
}

/* Estilo para el título de los ingredientes seleccionados */
#selected-ingredients-title {
    font-weight: bold; /* Hacer el texto en negrita */
    margin-bottom: 10px; /* Espacio entre el título y la lista */
    color: #2E083A; /* Color del texto del título opcional */
}

/* Estilo para la lista de ingredientes seleccionados */
#selected-ingredients {
    margin-top: 10px; /* Espacio superior opcional para la lista */
}

/* Estilos opcionales para la lista */
#selected-ingredients li {
    list-style-type: none; /* Eliminar viñetas */
    margin-bottom: 5px; /* Espacio entre elementos de la lista */
    color: #4A2450; /* Color del texto de los ingredientes opcional */
}

#ingredient-buttons img {
    width: 100px;
    height: 100px;
    margin: 10px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.3s; /* Solo transición para el color del borde */
}

#ingredient-buttons img.selected {
    border-color: #007bff;
}

/* Estilo para el resultado del creature */
#creature-output {
    margin-top: 20px;
}

#creature-output img {
    width: 200px;
    height: 200px;
}

/* Modal container */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
}

/* Modal content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 600px; /* Ancho máximo del modal */
    text-align: center;
    border-radius: 10px; /* Esquinas redondeadas */
}

/* Close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Style for random ingredients inside modal */
.random-ingredients img {
    width: 100px;
    height: 100px;
    margin: 10px;
}

/* Botón de Info Skills */
#info-skills {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007D51;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para el botón de Info Skills */
}

/* Estilo del modal para Info Skills */
#info-skills-modal .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Centra el modal */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px; /* Ancho máximo del modal */
    border-radius: 10px; /* Esquinas redondeadas */
}

#creature-skill {
    font-weight: bold;
    margin-top: 10px;
    color: #333;
}

/* Botón de cierre para Info Skills */
.close-skills {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-skills:hover,
.close-skills:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
